{% extends 'pms/dashboard_base.html' %}
{% block manage_inventory %}active{% endblock %}

{% block css %}


{% endblock %}

{% block content %}

<h1 class="mb-4">Manage Inventory</h1>

<div class="">
  <a href="{% url 'exportInventoryExcel' %}" class="btn btn-info">Export Excel</a>

</div>
<div class="mt-4">
<table class="table table-hover mt-4" id="inventoryTable">
    <thead>
        <tr class="table-dark">
          <th scope="col">Item Code</th>
          <th scope="col">Opening Quantity</th>
          <th scope="col">Added Quantity</th>
          <th scope="col">Issued/Dispatched Quantity</th>

          <th scope="col">Balance Quantity</th>
          <th scope="col">Add/Issue</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for data in inventory %}
        <tr class="table-info">
         
          <td> <span class="tableData">{{data.item_code}}</span></td>
          <td> <span class="tableData">{{data.opening_qty}}</span></td>
          <td><span class="tableData">{{data.added_qty}}</span></td>
          <td> <span class="tableData">{{data.issued_dispatched_qty}}</span></td>

          <td><span class="tableData">{{data.balanced_qty}}</span></td>
          
          
          
          <td><span class="tableData">


            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{data.id}}">
    <i class="fas fa-edit"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop{{data.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{data.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel{{data.id}}">Item Code : {{data.item_code}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'manageInventory' consoleName=consoleName %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{data.id}}" name="id">
            <div class="mb-3">
                <label for="add" class="form-label">Add Quantity</label>
                <input type="number" class="form-control" name="add" value="0" id="add" min="0" required>
            </div>
        
            <div class="mb-3">
                <label for="issue" class="form-label">Issue Quantity</label>
                <input type="number" class="form-control" id="issue" name="issue" value="0" min="0" max="{{data.balanced_qty}}" required>
            </div>

            <button type="submit" class="btn btn-info">Add / Issue</button>



          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
        </div>
      </div>
    </div>
  </div>

          </span></td>
          
  
        </tr>

      {% endfor %}
      
      </tbody>
  </table>
</div>

{% endblock %}

{% block js %}

<script>

$.fn.dataTable.Api.register('column().searchable()', function() {
  var ctx = this.context[0];
  return ctx.aoColumns[this[0]].bSearchable;
});

function createDropdowns(api) {
	api.columns().every(function() {
		if (this.searchable()) {
			var that = this;
			var col = this.index();

			// Only create if not there or blank
			var selected = $('thead tr:eq(1) td:eq(' + col + ') select').val();
			if (selected === undefined || selected === '') {
				// Create the `select` element
				$('thead tr:eq(1) td')
					.eq(col)
					.empty();
				var select = $('<select><option value=""></option></select>')
					.appendTo($('thead tr:eq(1) td').eq(col))
					.on('change', function() {
						that.search($(this).val()).draw();
						createDropdowns(api);
					});

				api
					.cells(null, col, {
						search: 'applied'
					})
					.data()
					.sort()
					.unique()
					.each(function(d) {
						select.append($('<option>' + d + '</option>'));
					});
			}
		}
	});
}

$(document).ready(function() {
	// Create the DataTable
	var table = $('#inventoryTable').DataTable({
		orderCellsTop: true,
		columnDefs: [
			{
				searchable: false,
				targets: [1,2,3,4,5]
			}
		],
		initComplete: function() {
			createDropdowns(this.api());
		}
	});
});
</script>

{% endblock %}