{% extends 'pms/dashboard_base.html' %}
{% load mathfilters %}


{% block css %}

<style>
  h5 strong{
    color: blue;
  }
  .card-header{
    color:#270d01!important;
    background:#C4BFBF!important;
    font-weight: bold;
    font-size: 1rem;
    
    }
</style>



{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}

  <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
 {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}

<div class="card">
 
    <h4 class="card-header bg-dark text-primary text-center" style="font-weight: bold;">Order Details</h4>
    <div class="card-body">
      <div class="row text-center">
          <div class="col-3">
              <h5><strong>Order Type</strong></h5>
          </div>
          
          <div class="col-3">
              <h5><strong>Sales Order No.</strong></h5>
          </div>
          
          <div class="col-3">
              <h5><strong>Customer Name</strong></h5>
          </div>
          
          <div class="col-3">
              <h5><strong>Item Code</strong></h5>
          </div>
      </div>


      <div class="row text-center mt-2">
          <div class="col-3">
            {% if data.order_type == 'Direct' %}
            <h5>Direct</h5>
          {% else %}
          <form action="{% url 'orderUpdateType' consoleName=consoleName %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{data.id}}" name="id">
            <select name="order_type" id="">
              {% if data.order_type == 'Engineering' %}
              <option value="Engineering" selected>Engineering</option>
              {% else %}
              <option value="Engineering">Engineering</option>
              {% endif %}
             
              {% if data.order_type == 'Others' %}
              <option value="Others" selected>Others</option>
              {% else %}
              <option value="Others">Others</option>
              {% endif %}
            </select>
            <button type="submit" class="btn btn-success">Update</button>
          </form>
          {% endif %}
          </div>

          <div class="col-3">
              <h5>{{data.sales_order}}</h5>
          </div>

          <div class="col-3">
              <h5>{{data.customer_name}}</h5>
          </div>

          <div class="col-3">
              <h5>{{data.item_code}}</h5>
          </div>

      </div>

      <div class="row text-center mt-5">
          <div class="col-3">
              <h5><strong>Order Quantity</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Order Date</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Delivery Date</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Status</strong></h5>
          </div>
      </div>

      <div class="row text-center">
          <div class="col-3">
              <h5>{{data.order_qty}}</h5>
          </div>
          <div class="col-3">
              <h5>{{data.order_date}}</h5>
          </div>
          <div class="col-3">
            
              <!-- Date Form -->
              <form action="{% url 'orderUpdateDDate' consoleName=consoleName %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{data.id}}" name="id">
                <input type="date" name="date" id="date" class="form-control mb-2" value="{{ data.item_delivery_date|date:'Y-m-d' }}">
                <input type="submit" class="btn btn-success" value="Update">
              </form>

          </div>
          <div class="col-3">
              <h5>{{data.status}}</h5>
          </div>
      </div>


      <div class="row text-center mt-5">
          <div class="col-3">
              <h5><strong>Remaining Days</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Payment Status</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Total Processed Quantity</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Partially Dispatched Quantity</strong></h5>
          </div>
      </div>

      <div class="row text-center">
          <div class="col-3">
              <h5>{{data.remaining_days_delivery}}</h5>
          </div>
          <div class="col-3">
            <form action="{% url 'orderUpdatePaymentStatus' consoleName=consoleName %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{data.id}}" name="id">
                <select name="payment_status" class="" id="">
                  <option value="">--------</option>
                  {% if data.payment_staus == 'Approved' %}
                  <option value="Approved" selected>Approved</option>
                  {% else %}
                  <option value="Approved">Approved</option>
                  {% endif %}
                  {% if data.payment_staus == 'Not Approved' %}
                  <option value="Not Approved" selected>Not Approved</option>
                  {% else %}
                  <option value="Not Approved">Not Approved</option>
                  {% endif %}
                </select>
                <input type="submit" class="btn btn-success" value="Update">
              </form>
          </div>
          <div class="col-3">
              <h5>{{data.total_processed_qty}}</h5>
          </div>
          <div class="col-3">
              <h5>{{data.partially_dispatched_qty}}</h5>
          </div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-3">
            <h5><strong>Latest Partially Dispatch Date</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Quantity in Buffing</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Quantity in Engineering</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Quantity in Provisionally schedule</strong></h5>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-3">
            <h5>{{data.latest_partially_dispatched_date}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.qty_in_buffing}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.qty_in_engineering}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.qty_in_provisionally_schedule}}</h5>
        </div>
    </div>


    <div class="row text-center mt-5">
        <div class="col-3">
            <h5><strong>Quantity in Plating</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Quantity in 4S Buffing</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Quantity in Laquer</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Quantity in Packaging</strong></h5>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-3">
            <h5>{{data.qty_in_plating}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.qty_in_4sbuffing}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.qty_in_laquer}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.qty_in_packaging}}</h5>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-3">
            <h5><strong>Latest Packaging date</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Total Packaged Quantity</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Cumulated Invoice Quantity</strong></h5>
        </div>
        <div class="col-3">
            <h5><strong>Latest Invoice date</strong></h5>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-3">
            <h5>{{data.latest_packaging_date}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.total_packaged_qty}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.cumulated_invoice_qty}}</h5>
        </div>
        <div class="col-3">
            <h5>{{data.latest_invoice_date}}</h5>
        </div>
    </div>

    </div>
  </div>



  <div class="card">
    <h5 class="card-header bg-dark text-white text-center">Schedule/Dispatch</h5>
    <div class="card-body">

        <div class="row text-center">
            <div class="col-4">
                <h5><strong>Available Quantity(Ready For Dispatch)</strong></h5>
            </div>

            <div class="col-4">
              
                <h5><strong>Available Raw Material Quantity</strong></h5>
            </div>
            <div class="col-4">
              {% if data.order_type == 'Others' %}
                <h5><strong>Expected Raw Material Date</strong></h5>
                {% else %}
                <h5><strong>Expected Material Arrival Date</strong></h5>
                {% endif %}
            </div>
        </div>
        {% if data.order_type == 'Direct' %}
        <div class="row text-center">
            <div class="col-4">
                <h5>{{data.inventory.balanced_qty}}</h5>
            </div>
            <div class="col-4">
                <h5>N / A</h5>
            </div>
            <div class="col-4">
              {% if data.order_type == 'Others' %}
              <h5>{{rawStock.stock_inward_estimate_date}}</h5>
              {% else %}
              <h5>{{stock.stock_inward_estimate_date}}</h5>
              {% endif %}
            </div>
        </div>

        {% else %}

        <div class="row text-center">
            <div class="col-4">
                <h5>{{data.inventory.balanced_qty}}</h5>
            </div>
            <div class="col-4">
                <h5>{{rawInventory.balanced_qty}}</h5>
            </div>
            <div class="col-4">
                <h5>{{stock.stock_inward_estimate_date}}</h5>

            </div>
        </div>
        {% endif %}
        {% if not data.order_type == 'Engineering' %}
        <div class="row text-center mt-5">
            <div class="col-6">
                {% if not data.inventory.balanced_qty == 0  and data.payment_staus == 'Approved' and not data.order_qty == data.total_processed_qty %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropdispatch{{data.id}}">
                  Dispatch
                </button>
                {% else %}
                <button type="button" class="btn btn-secondary">
                  Dispatch
                </button>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="staticBackdropdispatch{{data.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabeldispatch{{data.id}}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabeldispatch{{data.id}}">Dispatch Order : {{data.sales_order}} with Item : {{data.item_code}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'orderDispatch' consoleName=consoleName orderId=data.id %}" method="POST">
                          {% csrf_token %}
                          <div class="form-check mb-4">
                            <div class="row">
                              <div class="col-auto">
                                {% if data.inventory.balanced_qty >= data.order_qty  %}
                                <input class="form-check-input" value="dispatchA" onclick="enableDisableQtyField();enableDisableDispatchBtn();" type="radio" name="dispatch" id="dispatch1">
                                {% else %}
                                <input class="form-check-input" value="dispatchA"   type="radio" name="dispatch" disabled>
                                {% endif %}
                                <label class="form-check-label" for="dispatch1">
                                  Dispatch Completely
                                </label>
                              </div>
                            </div>
                            </div>
                            <div class="form-check">
                                <div class="row">
                                  <div class="col-auto">
                                    {% if not data.inventory.balanced_qty < data.order_qty and data.inventory.balanced_qty == 0 %}
                                    <input class="form-check-input" onclick="enableDisableQtyField();enableDisableDispatchBtn();" value="dispatchP" type="radio" name="dispatch" id="dispatch2" disabled>
                                    {% else %}
                                    <input class="form-check-input" onclick="enableDisableQtyField();enableDisableDispatchBtn();" value="dispatchP" type="radio" name="dispatch" id="dispatch2" >
                                    {% endif %}
                                    <label class="form-check-label" for="dispatch2">
                                      Partially Dispatch
                                    </label>
                                  </div>
                                  <div class="col-auto">
                                      {% if not data.inventory.balanced_qty < data.order_qty and data.inventory.balanced_qty == 0 %}
                                      <input type="number" min="0"   id="qty" name="qty" max="{{ data.order_qty|sub:data.total_processed_qty }}" class="form-control" disabled>
                                      {% else %}
                                      <input type="number" min="1"   id="qty" name="qty" max="{{ data.order_qty|sub:data.total_processed_qty }}" class="form-control">
                                      {% endif %}
                                    </div>
                                </div>
                          
                            </div>
                            <div class="mt-4">
                              <button type="submit" id="dispatchBtn" class="btn btn-primary">Dispatch</button>
                              <br>
                              <span class="text-danger mt-3" id="dispatchMessage">You Not Selected Any Option</span>
                            </div>
                      </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
            <div class="col-6">

                <!-- Button trigger modal -->
                {% if data.order_type == 'Others' %}
                {% if not data.total_processed_qty == data.order_qty and data.payment_staus == 'Approved' %}
                
                {% if not rawInventory.balanced_qty == 0 or rawStock.stock_inward_estimate_date %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Provisional Schedule
                </button>
                {% else %}
                <button type="button" class="btn btn-secondary">
                  Provisional Schedule
                </button>
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-secondary">
                  Provisional Schedule
              </button>
                {% endif %}
                {% endif %}

                {% if data.order_type == 'Direct' %}
                {% if not data.total_processed_qty == data.order_qty and data.payment_staus == 'Approved' and not data.inventory.balanced_qty >= data.order_qty %}
                {% if not data.inventory.balanced_qty == 0 or stock.stock_inward_estimate_date %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Provisional Schedule
                </button>
                {% else %}
                <button type="button" class="btn btn-secondary">
                  Provisional Schedule
              </button>
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-secondary">
                  Provisional Schedule
              </button>
                {% endif %}
                {% endif %}
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Sales Order {{data.sales_order}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% if data.order_type == 'Others'  %}
                            
                            <form action="{% url 'orderSchedule' consoleName=consoleName orderId=data.id %}" method="post">
                                {% csrf_token %}
                                <div class="mb-3 ">
                                    <label for="qty" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" name="qty"  min="0" max="{{ data.order_qty|sub:data.total_processed_qty}}" id="qty" required>
                                  </div>
                                  <div class="mb-3 ">
                                    <label for="qty" class="form-label">Date</label>
                                    <input type="date" class="form-control inspectionDate" name="date" required>
                                  </div>

                                  <button type="submit" id="provBtn" class="btn btn-primary">Submit</button>            

                            
                              
                            </form>
                            
                            {% elif data.order_type == 'Direct' %}

                            <form action="{% url 'orderSchedule' consoleName=consoleName orderId=data.id %}" method="post">
                              {% csrf_token %}

                              {% if data.inventory.balanced_qty >= data.order_qty %}
                              <div class="mb-3">
                                <label for="qty" class="form-label">Quantity</label>
                                <input type="number" class="form-control" name="qty"  min="0" max="{{ data.order_qty|sub:data.total_processed_qty }}" id="qty" required>
                              </div>
                              <div class="mb-3 ">
                                <label for="qty" class="form-label">Date</label>
                                <input type="date" id="date" class="form-control inspectionDate" name="date" required>
                              </div>
                              {% elif data.inventory.balanced_qty <= data.order_qty and not stock.stock_inward_estimate_date %}
                              {% if data.inventory.balanced_qty <= 0 %}
                                  <div class="mb-3">
                                    <label for="qty" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" name="qty"  min="0" max="{{ data.inventory.balanced_qty }}" id="qty" disabled>
                                  </div>
                                  <div class="mb-3 ">
                                    <label for="qty" class="form-label">Date</label>
                                    <input type="date" id="date" class="form-control inspectionDate" name="date" disabled>
                                  </div>
                                  {% else %}
                                  <div class="mb-3">
                                    <label for="qty" class="form-label">Quantity</label>
                                  <input type="number" class="form-control" name="qty"  min="0" max="1" id="qty" required>
                                  </div>
                                  <div class="mb-3 ">
                                    <label for="qty" class="form-label">Date</label>
                                    <input type="date" class="form-control inspectionDate" name="date"  required>
                                  </div>
                                  {% endif %}
                                  
                                  {% elif data.inventory.balanced_qty <= data.order_qty and stock.stock_inward_estimate_date %}
                  
                                  <div class="mb-3">
                                      <label for="qty" class="form-label">Quantity</label>
                                      <input type="number" class="form-control" name="qty"   min="0" max="{{ data.order_qty|sub:data.total_processed_qty }}" id="qty" required>
                                    </div>
                                    <div class="mb-3">
                                      <label for="qty" class="form-label">Date</label>
                                      <input type="date" id="date" class="form-control estimateDate"  name="date" required>
                                    </div>
                  
                                    {% else %}
                  
                                      <div class="mb-3">
                                      <label for="qty" class="form-label">Quantity</label>
                                      <input type="number" class="form-control" name="qty"   min="0" max="{{ data.order_qty|sub:data.for_dispatch|sub:data.total_processed_qty }}" id="qty" disabled>
                                    </div>
                                    <div class="mb-3">
                                      <label for="qty" class="form-label">Date</label>
                                      <input type="date" id="date" class="form-control estimateDate"  name="date"  >
                                    </div>
                  
                  
                                  {% endif %}
                                  <button type="submit" class="btn btn-primary">Submit</button>            
                            
                          </form>



                            {% endif %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
            </div>
        </div>
    </div>
  </div>



  <div class="card mt-2">
    <h5 class="card-header bg-dark text-white text-center">Related Jobs</h5>
    <div class="card-body">
      <div class="row text-center">
          <div class="col-3">
            <h5><Strong>Job ID</Strong></h5>
          </div>
          <div class="col-6">
            <h5><Strong>Information</Strong></h5>
          </div>
          <div class="col-3">
            <h5><Strong>Date</Strong></h5>
          </div>
      </div>
      {% if jobs %}
      {% for job in jobs %}
      <div class="row  mt-2">
          <div class="col-3">
            <h5>{{job.job_id}}</h5>
          </div>
          <div class="col-6">
            <h5>Order in {{job.department}} for {{job.qty}} Qty.</h5>
          </div>
          <div class="col-3">
            <h5>{{job.date}}</h5>
          </div>
      </div>
      {% endfor %}
      {% else %}

      <div class="row text-center">
          <div class="col-12 mt-2">
             <h3 class="text-secondary">No Job To Display</h3>
          </div>
      </div>

      {% endif %}

    </div>
  </div>


  <div class="card mt-2">
    <h5 class="card-header bg-dark text-white text-center">Related Transactions</h5>
    <div class="card-body">
      <div class="row text-center">
          <div class="col-2">
            <h5><Strong>Transaction ID</Strong></h5>
          </div>
          <div class="col-6">
            <h5><Strong>Information</Strong></h5>
          </div>
          <div class="col-2">
            <h5><Strong>Date</Strong></h5>
          </div>
          <div class="col-2">
            <h5><Strong>Created By</Strong></h5>
          </div>
      </div>
      {% if transactions %}
      {% for transaction in transactions %}
      <div class="row mt-2">
          <div class="col-2">
            <h5>{{transaction.transaction_id}}</h5>
          </div>
          <div class="col-6">
            <h5>{{transaction.message}}</h5>
          </div>
          <div class="col-2">
            <h5>{{transaction.date}}</h5>
          </div>
          <div class="col-2">
            <h5>{{transaction.user.first_name}} {{transaction.user.last_name}}</h5>
          </div>
      </div>
      {% endfor %}
      {% else %}

      <div class="row text-center">
          <div class="col-12 mt-2">
             <h3 class="text-secondary">No Job To Display</h3>
          </div>
      </div>

      {% endif %}

    </div>
  </div>


  <div class="card">
    <div class="card-header bg-dark text-white text-center">
      Comments
    </div>
    <div class="card-body">
      <div class="row text-center mb-3">
        <div class="col-4">
          <h5><strong>Date</strong></h5>
        </div>
        <div class="col-4">
          <h5><strong>Comment/Remarks</strong></h5>
        </div>
        <div class="col-4">
          <h5><strong>Name</strong></h5>
        </div>
      </div>
      {% for comment in comments %}
      <div class="row mt-2">
        <div class="col-4">
          <h5>{{comment.created_on}}</h5>
        </div>
        <div class="col-4">
          <h5>{{comment.comment}}</h5>
        </div>
        <div class="col-4">
          <h5>{{comment.user.first_name}} {{comment.user.last_name}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="card mt-2">
    <h4 class="card-header bg-dark text-white text-center">Remarks</h4>
    <div class="card-body">
        <form action="{% url 'newComment' consoleName=consoleName %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{data.id}}" required>
   
          
            <textarea name="comment" id="comment{{data.id}}" cols="30" rows="3" class="form-control" placeholder="Post Remarks/Comments" required></textarea>
           
            <button type="submit" class="btn btn-success mt-2">Submit</button>
          </form>
    </div>
  </div>

{% endblock %}

{% block js %}

<script>

    $(function() {
      $(document).ready(function () {
        
       var todaysDate = new Date();
        
        var year = todaysDate.getFullYear(); 
        var month = ("0" + (todaysDate.getMonth()+1)).slice(-2)	
      
        var day = ("0" + todaysDate.getDate()).slice(-2);
        
        var maxDate = (year +"-"+ month +"-"+ day);
    
        try{
          $('.inspectionDate').attr('min',maxDate);
        }
        catch(e){

        }
        var year1 = parseInt("{{rawStock.stock_inward_estimate_date.year}}");
      
        var month1 = ("0" + (parseInt("{{rawStock.stock_inward_estimate_date.month}}"))).slice(-2)
        var day1 = ("0" + parseInt("{{rawStock.stock_inward_estimate_date.day}}")).slice(-2);

            
    
            var maxDate1 = (year1 +"-"+ month1 +"-"+ day1);
            $('.estimateDate').attr('min',maxDate1);
    
            $('#date').on("click",function(){
              if("{{data.order_type}}" == 'Direct') {
              if(parseInt("{{data.inventory.balanced_qty}}") >= parseInt(document.getElementById("qty").value) )
                {
                  var year = todaysDate.getFullYear();
                    var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2)
                    var day = ("0" + todaysDate.getDate()).slice(-2);			
                    day = parseInt(day)+1;
                    var maxDate = (year +"-"+ month +"-"+ day);
                    $('.estimateDate').attr('min',maxDate);
                }
                else{
                    var year1 = parseInt("{{stock.stock_inward_estimate_date.year}}");
         
               var month1 = ("0" + (parseInt("{{stock.stock_inward_estimate_date.month}}"))).slice(-2)
               var day1 = ("0" + parseInt("{{stock.stock_inward_estimate_date.day}}")).slice(-2);
               var maxDate1 = (year1 +"-"+ month1 +"-"+ day1); 
                  $('.estimateDate').attr('min',maxDate1);
                }

                }
              else{

                if(parseInt("{{rawInventory.balanced_qty}}") >= parseInt(document.getElementById("qty").value)){
                    var year = todaysDate.getFullYear();
                    var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2)
                    var day = ("0" + todaysDate.getDate()).slice(-2);			
                    day = parseInt(day)+1;
                    var maxDate = (year +"-"+ month +"-"+ day);
                    $('.estimateDate').attr('min',maxDate);
                }
                else{
                    var year1 = parseInt("{{rawStock.stock_inward_estimate_date.year}}");
         
               var month1 = ("0" + (parseInt("{{rawStock.stock_inward_estimate_date.month}}"))).slice(-2)
               var day1 = ("0" + parseInt("{{rawStock.stock_inward_estimate_date.day}}")).slice(-2);
    
         
    
               var maxDate1 = (year1 +"-"+ month1 +"-"+ day1); 
                  $('.estimateDate').attr('min',maxDate1);
                }
              }
                
            })
    
           
     
      });
    });


    function enableDisableQtyField(){
        var dispatchAll = document.getElementById('dispatch1')
        var qty = document.getElementById('qty')
        qty.disabled = dispatchAll.checked ? true : false;
        if(!qty.disabled){
            qty.focus();
        }
    }


    var dispatchA = document.getElementById("dispatch1");
    var dispatchP = document.getElementById("dispatch2");

    if(dispatchA.disabled == true && dispatchP.disabled == true){
        var dispatchBtn = document.getElementById("dispatchBtn")
        dispatchBtn.disabled = true
    }


    var qtyProv = document.getElementById("qty");
    var dateProv = document.getElementById("date");

    if(qtyProv.disabled == true && dateProv.disabled == true){
      var provBtn = document.getElementById("provBtn")
      provBtn.disabled = True
    }

    document.getElementById("dispatchBtn").disabled = true;
    function enableDisableDispatchBtn()
    {
      var dispatchRadioButtons = document.getElementsByName('dispatch');
      var button = document.getElementById("dispatchBtn");
      var msg = document.getElementById("dispatchMessage");
      for(var dispatch of dispatchRadioButtons)
      {
        if(dispatch.checked == true)
        {
          button.disabled = false;
          msg.style.visibility = "hidden";
          break;
        }
        else{
          button.disabled = true;
        }
      }
    }



    </script>


    

{% endblock %}