{% extends 'pms/dashboard_base.html' %}
{% load mathfilters %}
{% block order_summary %}active{% endblock %}

{% block css %}




{% endblock %}

{% block content %}

<h1 class="mb-4">Order Summary</h1>



<div class="some-buttons">
    <!-- Order Upload Button -->
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mr-3" data-bs-toggle="modal" data-bs-target="#OrderModal">
    Upload Orders
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="OrderModal" tabindex="-1" aria-labelledby="OrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="OrderModalLabel">Upload Orders File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>
              <form action="{% url 'orderUpload' consoleName=consoleName %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload Order File in Excel Format</label>
                    <input class="form-control" name="order_file" type="file" id="formFile">
                  </div>
                  <button type="submit" class="btn btn-primary">Upload</button>
              </form>
          </h3>
        </div>
        <div class="modal-footer">

          <a href="" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Order Upload Button End -->

  
  <!-- Invoice Upload Button -->
    <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#InvoiceModal">
    Upload Invoice
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="InvoiceModal" tabindex="-1" aria-labelledby="InvoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="InvoiceModalLabel">Upload Invoice File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>
              <form action="" method="POST">
                  {% csrf_token %}
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload Invoice File in Excel Format</label>
                    <input class="form-control" name="invoice_file" type="file" id="formFile">
                  </div>
              </form>
          </h3>
        </div>
        <div class="modal-footer">

          <a href="" class="btn btn-primary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Invoice Upload Button End -->
   

  <!-- Button trigger modal -->
<button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Cancel Orders
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel Orders</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h3>Are you sure to cancel the selected orders?</h3>
        <form action="{% url 'orderCancel' consoleName=consoleName %}" method="POST" class="mt-3">
          {% csrf_token %}
          <input type="hidden" name='ids' id="ids" class="ids">
          
      </div>
      <div class="modal-footer">
        <button type="submit" id="submit-button" class="btn btn-danger">Cancel Orders</button>
      </form>     
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
</div>

</div>
<div class="mt-4 container" style="overflow-x: auto;">
<table class="table table-hover mt-4" class="display nowrap" id="orderSummaryTable">
    <thead>
        <tr class="table-dark">
          <th scope="col">
          <input type="checkbox" class="form-check-input" id="all" >
          </th>
          <th scope="col">Order Type</th>
          <th scope="col">Sales Order Number</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Item Code</th>
          <th scope="col">Order Quantity</th>
          <th scope="col">Order Date</th>
          <th scope="col">Delivery Date</th>
          <th scope="col">Status</th>
          <th scope="col">Details</th>
          <th scope="col">Schedule</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
         
        </tr>
      </thead>
      <tbody>
        {% for data in orderData %}
        {% if not data.qty_in_engineering == data.order_qty and not data.qty_in_buffing == data.order_qty and not data.qty_in_provisionally_schedule == data.order_qty and not data.qty_in_plating == data.order_qty and not data.qty_in_4sbuffing == data.order_qty and not data.qty_in_laquer == data.order_qty  and not data.status == 'Canceled' and not data.completed %}

          {% if data.remaining_days_delivery < 0 %}
          <tr class="table-danger">
          {% elif data.total_processed_qty == 0  %}
          <tr class="">
          {% elif data.total_processed_qty > 0 and data.remaining_days_delivery > 0 %}
            <tr class="table-warning">
          {% endif %}

          <td> <span class="tableData">
              <input type="checkbox" class="form-check-input" name="order" value="{{data.id}}"></td>
          <td> {{data.order_type}}</td>
          <td> {{data.sales_order}}</td>
          <td>{{data.customer_name}}</td>

          <td> {{data.item_code}}</td>
          <td>{{data.order_qty}}</td>
          <td>{{data.order_date}}</td>
          <td>{{data.item_delivery_date}}</td>
          <td>{{data.status}}</td>
          <td>


            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{data.id}}">
  Details
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{data.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{data.id}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel{{data.id}}">Sales Order Id {{data.sales_order}} with Item Code {{data.item_code}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row">

          <div class="col-6 mb-3">
            <strong>Order Type</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.order_type}}
          </div>
          
          <div class="col-6 mb-3">
           <strong>Sales Order Number</strong>
          </div>

          <div class="col-6 mb-3">
            {{data.sales_order}}
          </div>
          
          <div class="col-6 mb-3">
           <strong>Customer Name</strong>
          </div>

          <div class="col-6 mb-3">
            {{data.customer_name}}
          </div>
          
          <div class="col-6 mb-3">
            <strong>Item Code</strong>
          </div>

          <div class="col-6 mb-3">
            {{data.item_code}}
          </div>
          
          <div class="col-6 mb-3">
            <strong>Description</strong>
          </div>


          <div class="col-6 mb-3">
            {{data.description}}
          </div>
          
          <div class="col-6 mb-3">
            <strong>Order Quantity</strong>
          </div>

          <div class="col-6 mb-3">
            {{data.order_qty}}
          </div>
          
          <div class="col-6 mb-3">
            <strong>Order Date</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.order_date}}
          </div>


          <div class="col-6 mb-3">
            <strong>Delievery Date</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.item_delivery_date}}
          </div>

          <div class="col-6 mb-3">
          <strong>Status</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.status}}
          </div>

          <div class="col-6 mb-3">
            <strong>Days Remaining for Delievery</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.remaining_days_delivery}}
          </div>


          <div class="col-6 mb-3">
            <strong>Payment Status</strong>
          </div>
          <div class="col-6 mb-3">
            <!-- Need To apply mini form -->
            <form action="{% url 'orderUpdatePaymentStatus' consoleName=consoleName %}" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{data.id}}" name="id">
              <select name="payment_status" class="" id="">
                <option value="">--------</option>
                {% if data.payment_staus == 'Approved' %}
                <option value="Approved" selected>Approved</option>
                {% else %}
                <option value="Approved">Approved</option>
                {% endif %}
                {% if data.payment_staus == 'Not Approved' %}
                <option value="Not Approved" selected>Not Approved</option>
                {% else %}
                <option value="Not Approved">Not Approved</option>
                {% endif %}
              </select>
              <input type="submit" class="btn btn-success" value="Update">
            </form>
            
          </div>


          <div class="col-6 mb-3">
            <strong>Total Process Quantity</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.total_processed_qty}}
          </div>


          <div class="col-6 mb-3">
            <strong>Partially Dispatch Quantity</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.partially_dispatched_qty}}
          </div>

          <div class="col-6 mb-3">
            <strong>Latest Partially Dispatch Date</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.latest_partially_dispatched_date}}
          </div>

         

          <div class="col-6 mb-3">
           <strong>Quantity in Engineering</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.qty_in_engineering}}
          </div>

          <div class="col-6 mb-3">
            <strong>Quantity in Provisional Schedule</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.qty_in_provisionally_schedule}}
          </div>

          <div class="col-6 mb-3">
            <strong>Quantity in Buffing</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.qty_in_buffing}}
          </div>

          <div class="col-6 mb-3">
            <strong>Quantity in Plating</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.qty_in_plating}}
          </div>

          <div class="col-6 mb-3">
            <strong>Quantity in 4S Buffing</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.qty_in_4sbuffing}}
          </div>

          <div class="col-6 mb-3">
            <strong>Quantity in Laquer</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.qty_in_laquer}}
          </div>

          <div class="col-6 mb-3">
            <strong>Quantity in Packaging</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.qty_in_packaging}}
          </div>

          <div class="col-6 mb-3">
            <strong>Packaged Quantity</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.total_packaged_qty}}
          </div>

          <div class="col-6 mb-3">
            <strong>Latest Packaging Date</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.latest_packaging_date}}
          </div>

          <div class="col-6 mb-3">
            <strong>Total Package Quantity</strong>   
          </div>
          <div class="col-6 mb-3">
            {{data.total_packaged_qty}}
          </div>

          <div class="col-6 mb-3">
            <strong>Cumulated Invoiced Quantity</strong> 
          </div>
          <div class="col-6 mb-3">
            {{data.cumulated_invoice_qty}}
          </div>

          <div class="col-6 mb-3">
            <strong>Latest Invoice Date</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.latest_invoice_date}}
          </div>

          <div class="col-6 mb-3">
            <strong>Remaining Quantity</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.remaining_qty}}
          </div>

          <div class="col-6 mb-3">
            <strong>Remarks</strong>
          </div>
          <div class="col-6 mb-3">
            {{data.remarks}}
          </div>



        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

          </td>
          <td><!-- Button trigger modal -->
            <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#DispatchModal{{data.id}}">
              Schedule
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="DispatchModal{{data.id}}" tabindex="-1" aria-labelledby="DispatchModalLabel{{data.id}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="DispatchModalLabel{{data.id}}">Dispatch / Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row text-center mt-2">
          
                      <div class="col-3">
                        <h5> <strong>  Item Code :</strong> </h5>
                      </div>
                      <div class="col-3">
                        <h5>{{data.item_code}}</h5>
                      </div>
                      <div class="col-3">
                        <h5> <strong> Sales Order ID : </strong></h5>
                      </div>
                      <div class="col-3">
                        <h5>{{data.sales_order}}</h5>
                      </div>
                    </div>
                    <hr>
                    <div class="row mt-2 text-center">
                      <div class="col-6">
                        <h5> <strong> Order Type : </strong></h5>
                      </div>
                      <div class="col-6">
                        <h5>{{data.order_type}}</h5>
                      </div>
                      <hr>
                      <div class="col-6">
                        <h5> <strong> Customer Name : </strong></h5>
                      </div>
                      <div class="col-6">
                        <h5>{{data.customer_name}}</h5>
                      </div>
                      <hr>
                      <div class="col-6">
                        <h5> <strong> Order Quantity : </strong></h5>
                      </div>
                      <div class="col-6">
                        <h5>{{data.order_qty}}</h5>
                      </div>
                      <hr>
                    </div>
                   
                    
                   
                    
                    {% for inventory in inventoryDetails %}
                    {% if inventory.item_code == data.item_code %}
                    <div class="row text-center">
                      <div class="col-6">
                        <h5>
                           <strong> Available Quantity : </strong>
                        </h5>
                      </div>
                      <div class="col-6">
                        <h5>{{inventory.balanced_qty}}</h5>
                      </div>
                      <hr>
                      <div class="col-6">
                        {% if not inventory.balanced_qty == 0  and data.payment_staus == 'Approved' and data.order_qty > data.total_processed_qty %}
                        <a href="{% url 'orderDispatch' consoleName=consoleName orderId=data.id %}" class="btn btn-info">Dispatch Order</a>
                        {% else %}
                        <a  class="btn btn-secondary" aria-disabled="true">Dispatch Order</a>
                        {% endif %}
                      </div>
                      <div class="col-6">

                        {% if data.order_qty > data.total_processed_qty and data.payment_staus == 'Approved' %}
                        <a href="{% url 'orderSchedule' consoleName=consoleName orderId=data.id %}" class="btn btn-danger">Scheduled Provisionally</a>
                        {% else %}
                        <a  class="btn btn-secondary">Scheduled Provisionally</a>
                        {% endif %}

                      </div>
                    </div>
                    
                    {% endif %}
                    {% endfor %}
            
            
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
                  </div>
                </div>
              </div>
            </div></td>
        </tr>
        {% endif %}
      {% endfor %}
      
      </tbody>
      <!-- <tfoot style="width: 100%;">
        <tr>
          <th>h</th>
          <th>Order Type</th>
            <th>Sales Order Number</th>
            <th>Customer Name</th>
            <th>Item Code</th>
            <th>Order Quantity</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>Status</th>
        </tr>
    </tfoot> -->
  </table>
</div>

{% endblock %}

{% block js %}

<script>


$.fn.dataTable.Api.register('column().searchable()', function() {
  var ctx = this.context[0];
  return ctx.aoColumns[this[0]].bSearchable;
});

function createDropdowns(api) {
	api.columns().every(function() {
		if (this.searchable()) {
			var that = this;
			var col = this.index();

			// Only create if not there or blank
			var selected = $('thead tr:eq(1) td:eq(' + col + ') select').val();
			if (selected === undefined || selected === '') {
				// Create the `select` element
				$('thead tr:eq(1) td')
					.eq(col)
					.empty();
				var select = $('<select><option value=""></option></select>')
					.appendTo($('thead tr:eq(1) td').eq(col))
					.on('change', function() {
						that.search($(this).val()).draw();
						createDropdowns(api);
					});

				api
					.cells(null, col, {
						search: 'applied'
					})
					.data()
					.sort()
					.unique()
					.each(function(d) {
						select.append($('<option>' + d + '</option>'));
					});
			}
		}
	});
}

$(document).ready(function() {
	// Create the DataTable
	var table = $('#orderSummaryTable').DataTable({
		orderCellsTop: true,
		columnDefs: [
			{
				searchable: false,
				targets: [0,5, 9,10]
			}
		],
		initComplete: function() {
			createDropdowns(this.api());
		}
	});
});

   
    document.getElementById("all").onclick = function(){
      var orders = document.getElementsByName('order')
      for(var order of orders){
        order.checked = this.checked;
      }
   }

   document.getElementById("submit-button").onclick = function(){
    var orders = document.getElementsByName('order');
    var orderIds = []
    for(var order of orders){
      if(order.checked==true){
        orderIds.push(order.value);
        document.getElementById("ids").value = orderIds
      }
    }
   }
  
   
  

</script>

{% endblock %}