{% extends 'pms/dashboard_base.html' %}
{% block warehouse_stock_requirement %}active{% endblock %}

{% block css %}


{% endblock %}

{% block content %}

<h1 class="mb-4">Order Details for {{orderDetails.sales_order}}</h1>

<div class="container text-center">

    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
     
          </tr>
        </thead>
        <tbody>

          <tr>
            <td><strong>Order Type</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Order Type</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Sales Order Number</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Customer Name</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Item Code</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Description</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Order Quantity</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Order Date</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Delievery Date</strong></td>
            <td>Mark</td>
          </tr>
          
            
          <tr>
            <td><strong>Status</strong></td>
            <td>Mark</td>
          </tr>


          <tr>
            <td><strong>Days Remaining for Delievery</strong></td>
            <td>Mark</td>
          </tr>

          <tr>
            <td><strong>Payment Status</strong></td>
            <td>Mark</td>
          </tr>


          <tr>
            <td><strong>Total Process Quantity</strong></td>
            <td>Mark</td>
          </tr>



          <tr>
            <td><strong>Partially Dispatch Quantity</strong></td>
            <td>Mark</td>
          </tr>
          
           
         
          <tr>
            <td><strong>Latest Partially Dispatch Date</strong></td>
            <td>Mark</td>
          </tr>
          
           
         
          <tr>
            <td><strong>Quantity in Engineering</strong></td>
            <td>Mark</td>
          </tr>
          
           
         
          <tr>
            <td><strong>Quantity in Provisional Schedule</strong></td>
            <td>Mark</td>
          </tr>
          
           
         
          <tr>
            <td><strong>Quantity in Buffing</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Quantity in Plating</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Quantity in 4S Buffing</strong></td>
            <td>Mark</td>
          </tr>

          <tr>
            <td><strong>Quantity in Laquer</strong></td>
            <td>Mark</td>
          </tr>

          <tr>
            <td><strong>Quantity in Packaging</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Packaged Quantity</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Latest Packaging Date</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Total Package Quantity</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Cumulated Invoiced Quantity</strong></td>
            <td>Mark</td>
          </tr>
          
          <tr>
            <td><strong>Latest Invoice Date</strong></td>
            <td>Mark</td>
          </tr>

          <tr>
            <td><strong>Remaining Quantity</strong></td>
            <td>Mark</td>
          </tr>

          <tr>
            <td><strong>Remarks</strong></td>
            <td>Mark</td>
          </tr>
          
           
         
        </tbody>
      </table>

</div>

{% endblock %}
