{% extends 'pms/dashboard_base.html' %}
{% block provisional_schedule %}active{% endblock %}

{% block css %}



{% endblock %}

{% block content %}
<div class="container">


  {% if messages %}
  {% for message in messages %}
  
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  {% endif %}

  </div>

<h2>Provisional Schedules</h2>


<div class="some-buttons mt-4">


    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="finalScheduleModal" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Create Final Schedule
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create Final Schedule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4 class="mb-3 text-center">Are You Sure to Create Final Schedule For Selected Job IDs</h4>
          <div id="job_ids">
              <form action="{% url 'finalProvisionalSchedule' consoleName=consoleName %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="selectedJobs" id="selectJob">

                  <div class="">
                    <label for="date">Choose Final Schedule Date</label>
                      <input type="date" name="date" id="date" class="form-control" required>
                  </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="finalBtn" class="btn btn-primary">Yes, Create Final Schedule</button>
            </form>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
     
        </div>
      </div>
    </div>
  </div>



    <!-- Button trigger modal -->
<button type="button" class="btn btn-danger ml-3"  data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
    Cancel Schedule
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel1">Cancel Schedule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4 class="mb-3 text-center">Are You Sure to Cancel Provsional Schedule For Selected Job IDs</h4>
          <div id="job_ids">
              <form action="{% url 'deleteProvisionalSchedule' consoleName=consoleName %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="selectedJobs" id="selectJobForDelete">
          </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="deleteBtn" class="btn btn-danger">Yes, Cancel Selected Schedule</button>
            </form>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
     
        </div>
      </div>
    </div>
  </div>


</div>

<div class="mt-4 container" style="overflow-x: auto;">
<table class="table table-hover mt-4" class="display nowrap" id="provisionalTable">
    <thead>
        <tr class="table-dark">
          <th scope="col">
          <input type="checkbox" class="form-check-input" id="all" >
          </th>
          
          <th scope="col">Job ID</th>
          <th scope="col">Order Type</th>
          <th scope="col">Sales Order Number</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Item Code</th>
          <th scope="col">Order Date</th>
          <th scope="col">Delivery Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Details</th>
          <th scope="col">Raw Material Required</th>
          <th scope="col">Estimate Date</th>
          <th scope="col">Schedule Date</th>
          <th scope="col">Edit</th>

        </tr>
        <tr>
            <td></td>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tbody>
        {% for data in provisionalSchedule %}
        {% if not data.is_finalised and not data.is_canceled %}
        {% if data.color == 'red' %}
        <tr class="table-danger">
          {% else %}
          <tr>
          {% endif %}

            <td><input type="checkbox" class="form-check-input" name="schedule" value="{{data.id}}"></td>
            <td>{{data.job.job_id}}</td>
            <td>{{data.order.order_type}}</td>
            <td>{{data.order.sales_order}}</td>
            <td>{{data.order.customer_name}}</td>
            <td>{{data.order.item_code}}</td>
            <td>{{data.order.order_date}}</td>
            <td>{{data.order.item_delivery_date}}</td>
            <td>{{data.qty}}</td>
            <td>{{data.order.description}}</td>
            {% if data.is_material_required %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            {% if data.stock.stock_inward_estimate_date and data.is_material_required %}
            <td>{{data.stock.stock_inward_estimate_date}}</td>
            {% else %}
            <td>N / A</td>
            {% endif %}



            <td>{{data.provision_date}}</td>
            <td>

                <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropedit{{data.id}}">
                Edit
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdropedit{{data.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabeledit{{data.id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabeledit{{data.id}}">Job Id : {{data.job.job_id}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url 'updateProvisionalSchedule' consoleName=consoleName %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{data.id}}">
                        <div class="mb-3">
                            <label for="qty" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="qty" name="qty" value="{{data.qty}}" max="{{data.qty}}" min="0">
                          </div>
                          
                        <div class="mb-3">
                            <label for="date" class="form-label">Schedule Date</label>
                            <input type="date" class="form-control" id="date" name="date" value="{{ data.provision_date|date:'Y-m-d' }}" min="{{ data.provision_date|date:'Y-m-d' }}">
                          </div>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                  </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             
                    </div>
                </div>
                </div>
            </div>


            </td>
         </tr>
         {% endif %}
         {% endfor %}
         <tbody>
         </table>


{% endblock %}

{% block js %}


<script>

    $.fn.dataTable.Api.register('column().searchable()', function() {
      var ctx = this.context[0];
      return ctx.aoColumns[this[0]].bSearchable;
    });
    
    function createDropdowns(api) {
        api.columns().every(function() {
            if (this.searchable()) {
                var that = this;
                var col = this.index();
    
                // Only create if not there or blank
                var selected = $('thead tr:eq(1) td:eq(' + col + ') select').val();
                if (selected === undefined || selected === '') {
                    // Create the `select` element
                    $('thead tr:eq(1) td')
                        .eq(col)
                        .empty();
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($('thead tr:eq(1) td').eq(col))
                        .on('change', function() {
                            that.search($(this).val()).draw();
                            createDropdowns(api);
                        });
    
                    api
                        .cells(null, col, {
                            search: 'applied'
                        })
                        .data()
                        .sort()
                        .unique()
                        .each(function(d) {
                            select.append($('<option>' + d + '</option>'));
                        });
                }
            }
        });
    }
    
    $(document).ready(function() {
        // Create the DataTable
        var table = $('#provisionalTable').DataTable({
            orderCellsTop: true,
            columnDefs: [
                {
                    searchable: false,
                    targets: [0,12]
                }
            ],
            initComplete: function() {
                createDropdowns(this.api());
            }
        });
    });
    
       
        document.getElementById("all").onclick = function(){
          var orders = document.getElementsByName('schedule')
          for(var order of orders){
            order.checked = this.checked;
          }
       }
    
       document.getElementById("deleteBtn").onclick = function(){
        var orders = document.getElementsByName('schedule');
        var orderIds = []
        for(var order of orders){
          if(order.checked==true){
            orderIds.push(order.value);
            document.getElementById("selectJobForDelete").value = orderIds
          }
        }
       }


       document.getElementById("finalBtn").onclick = function(){
        var orders = document.getElementsByName('schedule');
        var orderIds = []
        for(var order of orders){
          if(order.checked==true){
            orderIds.push(order.value);
            document.getElementById("selectJob").value = orderIds
          }
        }
       }

       $(document).ready(function () {
    
    var todaysDate = new Date(); // Gets today's date
     
     // Max date attribute is in "YYYY-MM-DD".  Need to format today's date accordingly
     
     var year = todaysDate.getFullYear(); 						// YYYY
     var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2)	// MM
   
     var day = ("0" + todaysDate.getDate()).slice(-2);	
     day = parseInt(day)+1;

     var minDate = (year +"-"+ month +"-"+ day); // Results in "YYYY-MM-DD" for today's date 

        $('#date').attr('min',minDate)

    })
       
       
      
    
    </script>


{% endblock %}