{% extends 'pms/dashboard_base.html' %}

{% block css %}


{% endblock %}

{% block content %}

<div class="card">
    <h3 class="card-header bg-dark text-white text-center">Stock Requirement Details</h3>
    <div class="card-body">
      <div class="row text-center">
          <div class="col-3">
              <h5><strong>Customer Name</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Sales Order No.</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Date Of Order</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Item Name</strong></h5>
          </div>
      </div>
      <div class="row text-center mt-2">
          <div class="col-3">
              <h5>{{stock.order.customer_name}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.order.sales_order}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.order.order_date}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.order.description}}</h5>
          </div>
      </div>
      
      
      <div class="row text-center mt-5">
          <div class="col-3">
              <h5><strong>Order Quantity</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Required Quantity</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Supplier Name</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>PO Number</strong></h5>
          </div>
      </div>
      <div class="row text-center mt-2">
          <div class="col-3">
              <h5>{{stock.order.order_qty}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.required_qty}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.supplier_name}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.po_number}}</h5>
          </div>
      </div>


      <div class="row text-center mt-5">
          <div class="col-3">
              <h5><strong>Stock Inward Estimate Date</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Latest Stock Inward Actual Date</strong></h5>
          </div>
          <div class="col-3">
              <h5><strong>Pending Quantity</strong></h5>
          </div>
          <div class="col-3">
            <a href="{% url 'stockRequirement' consoleName=consoleName %}" class="btn btn-danger btn-lg">&larr; Back</a>
        </div>
         
      </div>
      <div class="row text-center mt-2">
          <div class="col-3">
              <h5>{{stock.stock_inward_estimate_date}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.latest_stock_inward_actual_date}}</h5>
          </div>
          <div class="col-3">
              <h5>{{stock.pending_qty}}</h5>
          </div>

        
         
      </div>




    </div>
  </div>



<!-- 
<h1>Stock Requirement Details</h1>









<div class="row mt-2">
    <div class="col-2">
        <h4>Pending Quantity </h4>
    </div>
    <div class="col-10">
        <h4>{{stock.pending_qty}}</h4>
    </div>
</div>
 -->





{% endblock %}

{% block js %}



{% endblock %}